.header {
    background-image: url("../public/images/header-background-desktop.png");
}

.header section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1 {
    text-transform: capitalize;
    color: white;
    margin: 0;
}

.header input {
    padding: 20px;
}
